{
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSameLine": true,
  "semi": true,
  "importOrder": [
    "^react/(.*)",
    "^next/(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/pages(.*)$",
    "^@/features(.*)$",
    "^@/utils(.*)$",
    "^[./]",
    "^@/styles(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
