// Signification des abréavations pour les couleurs
// l15 = lighten 15%
// d15 = darken 15%
// o20 = opacity 20%

$color-golden: hsl(45, 38%, 69%);
$color-golden-l15: hsl(45, 38%, 84%);
$color-golden-o20: rgba($color-golden, .20);

$color-white: hsl(0, 0%, 95%);
$color-white-d25: hsl(0, 0%, 70%);
$color-white-d45: hsl(0, 0%, 50%);

$color-purple: hsl(300deg 100% 40%);
$color-purple-d15: hsl(300deg 100% 25%);

$color-blue-dark: hsl(210, 90%, 4%);
$color-blue-dark-l10: hsl(210, 90%, 14%);

$font-title: "Goldman", cursive;
$font-text: 'Poppins', sans-serif;