@import './variables';

.tagsWrapper {
  display: flex;
  gap: 1rem;
}

.tag {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid $color-golden-o20;
  cursor: pointer;

  font-size: 1.1rem;
  font-family: $font-text;

  &[active='true'] {
    border-color: $color-golden;
    background: $color-blue-dark-l10;
  }
}

.championsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  grid-template-rows: repeat(auto-fill, 75px);
  justify-content: space-between;
  gap: 0.25rem;

  margin-top: 1rem;
  font-family: $font-text;
  width: 100%;

  a:hover {
    filter: brightness(1.4);
    transform: scale(1.1);
    overflow: hidden;
  }
}

// Champion Page
.coverWrapper {
  margin-top: -2rem;
  z-index: -1;
  width: 100%;
}
.cover {
  object-fit: cover;
  width: 100%;
  border: 1px solid white;

  @media (width <= 1200px) {
    margin-inline: max(-5dvw, -3rem);
    width: 100dvw;
  }
}
