@use 'sass:color';
@use './variables' as vars;

.container {
  max-width: 1000px;
  margin-inline: auto;
}

.flex {
  display: flex;
  width: 100%;

  @media (width <= 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.cost,
.fusionCost {
  display: flex;
  align-items: center;
  gap: 5px;

  font-weight: 600;
  font-family: vars.$font-text;
}

.rowLeft {
  img {
    border-radius: 0.5rem;
  }
  .cost {
    justify-content: center;

    color: vars.$color-golden;
    font-size: 1.2rem;
  }
}

.description {
  color: vars.$color-white-d25;
  font-family: vars.$font-text;

  maintext {
    display: block;
    margin-left: 1rem;
  }

  attention {
    color: vars.$color-white;
    font-weight: 600;
  }

  ornnBonus {
    color: color.adjust(vars.$color-white, $lightness: 5%);
    font-weight: 700;
  }

  li {
    margin-top: 1rem;
  }

  status {
    color: vars.$color-purple;
    font-weight: 600;
  }

  passive,
  active,
  rarityMythic {
    color: vars.$color-golden;
    font-weight: 600;
  }

  rarityLegendary {
    color: vars.$color-golden;
  }

  rules {
    // color: darken(vars.$color-white, 45%);
    color: vars.$color-white-d45;
    status {
      color: vars.$color-purple-d15;
    }
  }
}

.section {
  margin-top: 2rem;
  align-self: start;
  width: 100%;
}

.fusionCost {
  font-size: 0.9rem;
  // Annule la margin des subTitles
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}

.itemsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
  justify-content: space-between;
  gap: 1rem;
  width: 100%;

  .link {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    overflow: hidden;

    display: flex;
    gap: 0.5rem;

    &:hover {
      cursor: pointer;
      border-color: vars.$color-golden;
    }
  }

  .link_name {
    font-family: vars.$font-text;
    font-size: 1rem;
    color: vars.$color-golden;
    margin-bottom: 0.4rem;
  }

  .cost,
  .upgrade {
    font-family: vars.$font-text;
    font-size: 0.8rem;
  }
}
