@import './variables';

.header {
  display: flex;
  align-items: center;
  height: 70px;

  background: $color-blue-dark;
  box-shadow: 0px 5px 10px 0px $color-golden;
  margin-bottom: 2rem;

  @media (width <= 850px) {
    justify-content: space-between;

    .menu {
      display: none;
    }

    .switch {
      display: none;
    }

    .burger {
      display: block;
    }
  }
}

.logo {
  z-index: 20;
  display: flex;
  align-items: center;
  gap: 1rem;
  // width: 300px;
  justify-content: space-between;

  margin-inline: 1rem;

  font-family: $font-title;
  font-weight: 700;
  font-size: 1rem;
  color: hsl(211, 95%, 55%);
}

.menu {
  flex: 1;
  display: flex;
  gap: 0.5rem;
  // width: 100%;
  height: 60px;
  font-family: $font-title;
  font-weight: 700;
  font-size: 1.4rem;

  .navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-inline: 1rem;

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    transition: 0.5s ease-out;

    background-image: radial-gradient(closest-side, $color-golden-l15 50%, transparent 100%),
      linear-gradient(to bottom, $color-golden, $color-golden);
    background-size: 0% 0%, 100% 100%;
    background-position: 50% 50%, center;

    &:hover,
    &.active {
      background-size: 260% 260%, 100% 100%;
    }
  }
}

.navItem {
  list-style: none;
}

/* #033e7f */
.switch {
  display: flex;
  gap: 0.5rem;
  margin-inline: 0.5rem;
}

.btn {
  all: initial;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.5s;

  &:hover,
  &.active {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100dvh;
  background: hsl(0 0% 0% / 0.7);
  opacity: 1;
  transition: opacity 0.3s ease 0s;

  @media (width > 850px) {
    opacity: 0;
  }
}

.mobile_menuWrapper {
  background: $color-blue-dark;
  box-shadow: 0px 5px 10px 0px $color-golden;
}

.mobile_menu {
  padding-top: 5rem;

  .navItem {
    display: flex;
    justify-content: center;
    padding-block: 1rem;
  }

  .navLink {
    font-size: 2rem;
    text-align: center;
    color: $color-golden;

    &:hover, &.active {
      color: $color-golden-l15;
    }
  }
}

.mobile_switch {
  margin-top: 2rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: center;
  gap: 0.5rem;

  img {
    width: 48px;
    height: 48px;
  }
}
