@import './variables';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 2rem;
  font-family: $font-title;
  color: $color-golden-l15;
}

.subTitle {
  margin-bottom: 1.5rem;
  font-family: $font-title;
  color: $color-golden;
}

